body {
  margin: 0;
  padding: 0;
  color: slategray;
  background-color: white;
  font-family: Baskerville, 'Times New Roman', serif;
  font-size: 18px;
  line-height: 1.2;
  text-align: center;
}
.mytitle {
  position: absolute;
  left: 100px;
  font-style: italic;
  top: 50px;
}

.left-nav {
  position: absolute;
  top: 34px;
  /*left: 680px;*/
  text-align: center;
  width: auto;
  font-size: 20px;
  /*color: #555;*/
  z-index: 10;
}

.right-nav {
  position: absolute;
  top: 13px;
  right: 100px;
  width: auto;
  z-index: 10;
  font-size: 20px;
}

nav ul {
  margin-left: 0;
  padding-left: 0;
  list-style-type: none;
}

ul {
  margin-left: 10px;
  margin-bottom: 14px;
  padding-left: 15px;
  list-style-type: none;
}

nav ul li {
  display: inline;
  display: inline-block;
  margin-right: 20px;
  margin-bottom: 10px;
  font-size: 20px;
  cursor: pointer;
}

nav ul li a {
  border-bottom: 1px solid slategray;
}

/*nav ul li a:first-child {*/
/*border-bottom: 0px;*/
/*}*/

a {
  text-decoration: none;
  color: slategray;
  border-bottom: 1px solid #fff;
  -webkit-transition: all ease-out 0.2s;
}
a:hover {
  text-decoration: none;
  color: #346164;
  border-bottom: 1px solid slategrey;
}

a:visited {
  text-decoration: none;
  color: #fff;
  border-bottom-color: #ccc;
}

a:link {
  text-decoration: none;
}

img {
  border: none;
}

body#projects ul.projects li a:link {
  display: block;
  border-bottom: 0px solid #fff;
  padding-bottom: 20px;
  color: #fff;
  cursor: pointer;
}

body#projects ul.projects li {
  display: inline-block;
  margin: 0 10px 50px 0;
  width: 350px;
  max-height: 380px;
  line-height: 22px;
  border-bottom: 1px solid #fff;
  -webkit-transition: all ease-out 0.2s;
}

body #projects ul.projects {
  list-style-type: none;
}

header {
  border-bottom: 1px solid #e0e0e0;
}

header h1 {
  width: 350px;
  margin-left: 20px;
  color: #000;
}

h1 {
  font-size: 28px;
  line-height: 30px;
  font-style: italic;
}

footer {
  font-size: 12px;
}

.active {
  /*color: blue;*/
}

.viz-tech {
  font-style: italic;
  font-size: 16px;
}

.viz-title {
  margin-top: 20px;
}

.caption {
  position: relative;
  overflow: hidden;

  /* Only the -webkit- prefix is required these days */
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
}

.caption::before {
  content: ' ';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: transparent;
  transition: background 0.35s ease-out;
}

.caption:hover::before {
  background: rgba(0, 0, 0, 0.5);
}

.caption__media {
  display: block;
  min-width: 100%;
  max-width: 100%;
  height: auto;
}

.caption__overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 10px;
  color: white;

  -webkit-transform: translateY(100%);
  transform: translateY(100%);

  transition: -webkit-transform 0.35s ease-out;
  transition: transform 0.35s ease-out;
}

.caption:hover .caption__overlay {
  -webkit-transform: translateY(0);
  transform: translateY(0);
}

.caption__overlay__title {
  -webkit-transform: translateY(-webkit-calc(-100% - 10px));
  transform: translateY(calc(-100% - 10px));

  transition: -webkit-transform 0.35s ease-out;
  transition: transform 0.35s ease-out;
}

.caption:hover .caption__overlay__title {
  -webkit-transform: translateY(0);
  transform: translateY(0);
}

.caption__overlay__content {
  text-align: justify;
}
